@font-face {
    font-family: SF-Pro;
    src: url('../fonts/SF-Pro.ttf');
}

:root {
    --dark-color: #282829;
    --primary-color: #63c0ee;
    --secondary-color: #c90c0f;
    --tertiary-color: #f5ac25;
    --grey-color: #aaa;
    --light-color: #ffffff;
    --size-h1: 2.5rem;
    --size-h2: 2rem;
    --size-h3: 1.5rem;
    --size-regular: 1rem
}

* {
    font-size: var(--size-regular);
    font-family: 'SF-Pro';
    font-weight: 400;
    color: var(--dark-color);
    margin: 0;
    margin-bottom: var(--size-regular);
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 12px;
}

h1 {
    font-size: var(--size-h1);
    font-weight: 900;
    margin-bottom: var(--size-h1);
}

h2 {
    font-size: var(--size-h2);
    font-weight: 700;
    margin-bottom: var(--size-h2);
}

h3 {
    font-size: var(--size-h3);
    font-weight: 500;
    margin-bottom: var(--size-h3);
}

button,
input[type="submit"] {
    border-radius: 1.5rem;
    height: fit-content;
    padding: 0.5rem;
    font-weight: 700;
}

button:hover,
input[type="submit"]:hover {
    cursor: pointer;
}

.button--valider {
    background-color: var(--primary-color);
    border: 3px solid var(--light-color);
    outline: 3px solid var(--primary-color);
}

.button--retour {
    background-color: var(--tertiary-color);
    border: 3px solid var(--light-color);
    outline: 3px solid var(--tertiary-color);
}

.button--annuler {
    background-color: var(--secondary-color);
    border: 3px solid var(--light-color);
    outline: 3px solid var(--secondary-color);
}

.button--gris {
    background-color: transparent;
    border: 3px solid var(--grey-color);
    color: var(--grey-color);
}

html,
body,
footer,
header img,
nav,
nav ul,
nav li,
nav a {
    margin-bottom: 0;
}

header,
footer {
    background-color: var(--dark-color);
}

header {
    align-items: end;
    display: flex;
    height: 10vh;
    min-height: 100px;
    padding: 5vh;
    position: relative;
    margin-bottom: var(--size-h1);
}

header::after {
    content: '';
    transform-origin: 0 0;
    transform: scaleX(0.6) skewX(290deg);
    position: absolute;
    bottom: -0.75rem;
    left: 0;
    right: 0;
    height: var(--size-h3);
    background: var(--primary-color);
}

header img {
    align-self: auto;
    width: 300px;
}

nav {
    margin-left: 5vw;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: var(--size-h1);
}

nav a {
    color: var(--light-color);
    font-size: var(--size-h3);
    font-variant: small-caps;
    font-weight: 500;
    position: relative;
    i {
        color: var(--light-color);
        font-size: var(--size-h3);
    }
}

nav a::after {
    content: '';
    transform-origin: 0 0;
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: var(--primary-color);
    transition: transform .5s;
}

nav a:hover::after {
    transform: scaleX(1);
}

header div {
    background-color: var(--primary-color);
    border: 15px solid var(--light-color);
    border-radius: 10px;
    height: 500px;
    width: 500px;
    position: absolute;
    transform: rotate(75deg) skewY(310deg);
    top: -400px;
    right: 20vw;
}

main {
    min-height: 60vh;
}

footer {
    height: 10vh;
}
#myChart{
    height: 60vh !important;
    margin-left: auto;
    margin-right: auto;
}