{% extends 'base.html.twig' %}

{% block title %}Classement{% endblock %}

{% block body %}
    <h1 class="text-3xl">Classement</h1>
    <div class="flex gap-2 m-2 w-full">
    {% for score in scores %}
    <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ score.participant.nom }} : {{score.participant.prenom }}</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Nombre de pts : 
            {% set total = 0 %}
            {% for pts in score.flags %}
                {% set total = total + pts.valeur %}
            {% endfor %}
            {{ total }}
        </p>
    </a>
    {% endfor %} 
</div>
{% endblock %}

